* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    color: black;
}

/*global settings*/

body {
    border: 8px solid;
    margin: 2px;
    line-height: 1;
    background-color: darkgray;
}

a {
    text-decoration: none;
}

/*Header*/

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    color: black;
    padding: 3px 1% 3px 6%;
    font-family: monospace;
    font-size: 35px;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-in-out;
}

/*Header End*/

/*Hero Section*/

.hero {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.hero h2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    font-weight: bold;
    color: black;
    padding: 5px;
    margin: 10px;
}

/*Main Content*/

.pagewrap {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

/*AboutMe*/

.content {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content>h2 {
    flex: 0 0 18%;
    font-size: 30px;
    text-align: right;
    border-right: 2px solid black;
    padding-right: 12px;
    margin: 0;
    
}

.content>div {
    flex: 0 0 75%;
}

.content p {
    margin-bottom: 20px;
    font-size: 25px;
}

/*Projects*/

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexwork {
    border: 5px solid black;
    min-height: 150px;
    height: 300px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-size: 100% 100%;
    background-color: darkgray;
    font-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.25s;
}

/*Main Project*/

.flexwork:first-child {
    min-height: 420px;
    flex-basis: 100%;
}

span {
    text-decoration: none;
    color: black;
}

.flexwork h3 {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.flexwork div {
    padding: 5px 8px;
    background-color: darkgray;
}

.runbuddy {
    background-image: url(./images/run-buddy.png);
    background-repeat: no-repeat;
}

/*Other Projects*/

.horiseon {
    background-image: url(./images/horiseon.png);
}

/*Placeholder Projects*/

.Milo {
    background-image: url(./images/milo.png);
}

.Nylah {
    background-image: url(./images/nylah.png);
}

.Kira {
    background-image: url(./images/kira.png);
}

/*Contact Me Section */

.contactme address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contactme address a {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 30px;
    font-style: normal;
    display: inline-block;
    margin: 0 0.2rem 0.1rem;
    transition: all 0.5s ease-in-out;
}

/*Hover Effects*/

nav a:hover {
    background-color: lightgray;
}

.contactme a:hover {
    background-color: lightgray;
}

.flexwork:hover {
    transform: scale(1.25);
}

/*Media Queries*/
@media screen and (max-width: 980px) {
    header h1 {
        width: 100%;
        padding: 5px;
        margin: 0 0 10px 0;
    }
    header {
        justify-content: center;
        padding: 0 0 5px 0;
        text-align: center;    }
}
    

