* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    color: black;
}

/*global settings*/
body {
    border: 8px solid;
    margin: 0;
}



/*Header*/
header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    color: black;
    padding: 3px 1% 3px 6%;
    font-family: monospace;
    font-size: 2vw;
    margin: 0;

}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}
/*Header End*/

/*Hero Section*/

.hero {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap ;
}

.hero img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.hero h2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    font-weight: bold;
    color: black;
    padding: 5px;
    margin: 10px;
}